<div class="container">
  <ul class="tax-stepper">
    <li class="node-first-active">
      <div class="tax-step-number">1</div>
      <div class="tax-step-detail">Input Detail</div>
    </li>
    <li class="tax-node">
      <div class="tax-step-number">2</div>
      <div class="tax-step-detail">Review & Confirm</div>
    </li>
  </ul>
</div>
