@import "../../style/colors.scss";
@import '~bootstrap/dist/css/bootstrap.min.css';
.tax-stepper {
    list-style-type: none;
    padding: 0;
    display: flex;
    width: 100%;
}

.node-first-active {
    position: relative;
    padding-top: 3px;
    text-align: center;
    color: #000000;
    flex-grow: 1;
    flex-basis: 0;
}

.node-first-active::before {
    content: "";
    position: relative;
    height: 36px;
    width: 36px;
    border: 3px solid #000000;
    border-radius: 50%;
    display: block;
    text-align: center;
    margin: 0 auto 6px;
    z-index: 2;
}

.tax-node {
    position: relative;
    text-align: center;
    color: #b8b8b8;
    flex-grow: 1;
    flex-basis: 0;
}

.tax-node::before {
    content: "";
    position: relative;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: block;
    border: 3px solid #b8b8b8;
    border-radius: 50%;
    text-align: center;
    margin: 0 auto 4px;
    z-index: 2;
}

.tax-node::after {
    content: "";
    position: absolute;
    width: 90%;
    height: 4px;
    border-top: 4px solid #b8b8b8;
    top: 20px;
    left: -45%;
    z-index: 1;
}

.tax-step-number {
    margin-top: -39px;
    font-size: 20px;
}

.tax-step-detail {
    margin-top: 20px;
    font-size: 20px;
}

