.tax-header {
    text-align: center;
}

.card-body {
    margin: 20px 20px 20px 20px;
}

.tax-submit-button {
    border-radius: 35px;
    width: 130px;
    height: 50px;
    margin-left: 10px;
    margin-bottom: 50px;
    background: #000000;
    color: #ffffff;
}

.tax-back-button {
    border-radius: 35px;
    width: 130px;
    height: 50px;
    background: #ffffff;
}

