.input-number{
    text-align: right;
}

input {
    background: "text" no-repeat;
    background-position: calc(100% - 0.75rem) center !important;
    -moz-appearance:none !important;
    -webkit-appearance: none !important; 
    appearance: none !important;
    padding-right: 43px !important;
}

.currency-position {
    position: relative;
    top: 50%;
    left: 85%;
    font-weight: bold;
  }