.tax-under-header {
    font-size: 24px;
    font-weight: bold;
}
input {
    background: "text" no-repeat;
    background-position: calc(100% - 0.75rem) center !important;
    -moz-appearance:none !important;
    -webkit-appearance: none !important; 
    appearance: none !important;
    padding-right: 43px !important;
}
.btn-exchange-rate {
    border: none;
    background: none;
}

.tax-under {
    font-size: 20px;
    font-weight: bold;
}

.input-number{
    text-align: right;
}


.currency-position {
  position: relative;
  top: 50%;
  left: 85%;
  font-weight: bold;
}