<span class="tax-under-header">1. Tax Filing Detail</span>
<hr>
<div class="row">
    <div class="col-12">
        <label>Type of filing <span class="text-danger">*</span></label>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <form [formGroup]="taxFilingTypeForm">
            <div class="form-check  form-check-inline" *ngFor="let type of taxFilingType">
                <input class="form-check-input" type="radio" formControlName="taxFilingType"
                    id="flexRadioDefault1" value={{type.code}} (change)="onSelect()">
                <label class="form-check-label" for="flexRadioDefault1">
                    {{type.name}}  <fa-icon [icon]="icon" title="{{type.name}}"></fa-icon>
                </label>
            </div>
        </form>
    </div>
</div>
<br />