@import '../../../../style/colors.scss';
.tax-header {
    text-align: center;
}

.form-check-input:checked[type=radio] {
    background-image: none;
    background-color: #000000;
    border: 3px solid $base-white;
    box-shadow: 0 0 0px 1px #000000;
}

.form-check-input:focus-within {
    box-shadow: 0 0 0px 1px #000000;
}

.tax-under-header {
    font-size: 24px;
    font-weight: bold;
}

