
<div class="row">
    <div class="col-6">
        <label>Vat Month <span class="text-danger">*</span></label>
    </div>
    <div class="col-6" *ngIf="isAdditionalFiling()">
        <label>Type <span class="text-danger">*</span></label>
    </div>
</div>
<form [formGroup]="vatMonthForm">
    <div class="row">
        <div class="col-3">
            <select class="form-select" id="month" formControlName="month">
                <option value=null selected>-Please Select-</option>
                <option *ngFor="let month of filterMonth" [ngValue]="month.code">
                    {{month.name}}
                </option>
            </select>
        </div>
        <div class="col-3">
            <select class="form-select" id="year" formControlName="year" (change)="onYearSelect()">
                <option value=null selected>-Please Select-</option>
                <option *ngFor="let year of years" [ngValue]="year.code">
                    {{year.name}}
                </option>
            </select>
        </div>
        <div class="col-3" *ngIf="isAdditionalFiling()">
            <select class="form-select" id="type" formControlName="type">
                <option value=null selected>-Please Select-</option>
                <option *ngFor="let type of types" [ngValue]="type.code">
                    {{type.name}}
                </option>
            </select>
        </div>
    </div>
</form>